
#built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

#Local configuration
GreenTipsAlpha1/local.properties

# OSX files
.DS_Store

#Android Studio 
*.iml
.idea
.gradle

GreenTipsAlpha1/.idea/workspace.xml

GreenTipsAlpha1/app/build/

*.bin

*.json



