
GreenTipsAlpha1/.idea/workspace.xml

*.bin

*.lock

*.ser

*.json

*.jar

*.dex

GreenTipsAlpha1/app/build/intermediates/dex_archive_input_jar_hashes/debug/

GreenTipsAlpha1/app/build/intermediates/incremental/mergeDebugResources/

GreenTipsAlpha1/app/build/intermediates/incremental/packageDebug/tmp/debug/

*.class

*.ap_

*.flat

*.txt

*.apk
