
#built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

#Local configuration
local.properties

# OSX files
.DS_Store

#Android Studio 
*.iml
.idea
.gradle

Application/GreenTipsAlpha1/.idea/workspace.xml

Application/GreenTipsAlpha1/app/build/

*.bin

*.json



